
/********* nav starts here **********************/
.nav{
	font-family:Droid Sans;
	text-transform: uppercase;
}
.nav a{
	font-family:Droid Sans;
}

/* navbar */
.navbar-default {
    background-color: #f04949;
    border-color: #f04949;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
    font-size:20px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */

/*** nav ends here ****/


.form-inline .form-group{
	margin-bottom: 20px;
	float: right;
}
.title{
    text-decoration:underline;
    padding: 10px 5px;
}

.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}


.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #27ae60;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}